.hero__img {
  animation-name: fadeIn;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  max-height: 100%;
  max-width: 100%;

  @media only screen and (max-width: $bp-medium-large) {
    display: none;
  }
}

.heroInfo {
  display: flex;
  flex-direction: column;
  animation-name: fadeIn;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;

  &__users {
    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-smallest-small) {
      display: block;
    }
  }

  &__icons {
    display: flex;

    :not(:first-child) {
      margin-left: -1.5rem;
    }
    img {
      border: 5px solid #ffff;
      border-radius: 100%;
      width: 10rem;
      height: 100%;

      transition: 0.2s all;
      &:hover {
        transform: scale(1.05);
      }

      @media only screen and (max-width: $bp-largest) {
        width: 8rem;
        margin-bottom: 1rem;
      }
    }
  }

  &__text {
    h1 {
      line-height: 10rem;
      letter-spacing: -0.5rem;

      font-size: 9rem;
      font-weight: 400;
      margin: 5rem 0rem;

      @media only screen and (max-width: $bp-largest) {
        font-size: 7rem;
        line-height: 8rem;
      }

      @media only screen and (max-width: $bp-large) {
        margin: 2.5rem 0;
      }

      @media only screen and (max-width: $bp-smallest-small) {
        font-size: 5rem;
        line-height: 6rem;
      }
    }

    span {
      color: var(--primary-color);
    }
    p {
      font-size: 1.8rem;
      color: var(--color-gray);
      margin-bottom: 5rem;

      @media only screen and (max-width: $bp-smallest-small) {
        font-size: 1.6rem;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 5rem;
    margin-bottom: 5rem;

    @media only screen and (max-width: $bp-largest) {
      gap: 2.5rem;
    }
  }

  &__userText {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    h3 {
      font-size: 4rem;
      font-weight: 500;
      margin-left: 3rem;
      @media only screen and (max-width: $bp-largest) {
        font-size: 2.5rem;
      }

      @media only screen and (max-width: $bp-smallest-small) {
        margin-left: 1rem;
      }
    }
    p {
      font-size: 1.5rem;
      color: var(--color-gray);

      @media only screen and (max-width: $bp-largest) {
        font-size: 1.2rem;
      }
    }
  }
}
